<!-- ======= views/menu ======= -->

<div id="navbar">
  <a href="/"><h1 id="logo">ciclo</h1></a>
  <div id="nav-items">
    <% if current_user %>
        <%= link_to 'Home', landing_path, class: "nav-item" %>
        <%= link_to 'Weather', weather_path, class: "nav-item" %>
        <%= link_to 'Trails', trails_path, class: "nav-item" %>
        <p id="shops_link" class="nav-item"> Shops </p>
        <%= link_to 'Profile', user_path(current_user.id), class: "nav-item" %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-item" %>
        <%= current_user.username %>
    <% elsif current_admin %>
        <%= link_to 'Admin', admin_landing_path, class: "nav-item" %>
        <%= link_to 'Seed', seed_path, class: "nav-item" %>
        <%= link_to 'Users', "/users", class: "nav-item" %>
        <%= link_to 'Trails', "/trails", class: "nav-item" %>
        <%= link_to 'Reports', "/admin_reports", class: "nav-item" %>
        <%= link_to 'Tags', tags_path, class: "nav-item" %>
        <%= link_to 'Counties', "/counties", class: "nav-item" %>
        <%= link_to 'Signout', destroy_admin_session_path, method: :delete, class: "nav-item" %>
        <%= current_admin.username %>
    <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: "nav-item" %>
        <%= link_to 'Register', new_user_registration_path, class: "nav-item" %>
    <% end %>
  </div>
</div>


<%#= link_to 'Shops', :id => 'shops_link', class: "nav-item" %>
<%#= link_to "Shops", "", :onclick => "geoLocationInitiliaze(); return false" %>
<!-- <%#= link_to 'Search Shops', search_shops_path, class: "nav-item" %> -->
<!-- <p id="shops_link" class="nav-item"> Shops </p> -->
