<h1 class="header"><%= current_user.username %></h1>
<div id="detail-wrapper">
  <div id="detail-container">
    <div id="left-top-area">
      <div class="form-div">
        <p id="item-display">
          <span class="item-label">First Name:</span> <span class="item"><%= current_user.fname %></span>
        </p>
      </div>
      <div class="form-div">
        <p id="item-display">
          <span class="item-label">Last Name:</span> <span class="item"><%= current_user.lname %></span>
        </p>
      </div>
      <div class="form-div">
        <p id="item-display">
          <span class="item-label">Email:</span> <span class="item"><%= current_user.email %></span>
        </p>
      </div>
      <div class="form-div">
        <%= link_to 'Edit Profile', edit_user_registration_path, class: "form-btn" %>
      </div>
    </div>
    <div id="right-bottom-area">
      <% if @photo != nil %>
          <%= image_tag(@photo.image.url) %>
      <% end %>
    </div>
    <div class="form-div">
      <p id="item-display">
        <span class="item-label">Profile Photo:</span> <span class="item"><%= link_to 'New Photo', new_photo_path, class: "nav-item" %></span>
      </p>
    </div>
  </div>
  <div id="ratings-area">
    <% @user_reports.each do |r| %>
      <div class="rating">
        <div class="rating-top">
          <div class="left-info">
            <div class="quarter-div">
              <span class="rating-label">Trail:</span>
              <!-- <%#= link_to r.trails.first.name, trail_path(r.trails.first.id), class: "rating-trail-name" %> -->
            </div>
            <div class="quarter-div">
              <span class="rating-label">Overall Rating:</span> <span class="rating-display"><%= r.overall_rating %></span>
            </div>
          </div>
          <div class="right-info">
            <div class="report-icon-container">
              <div class="report-icon-box">
                <img src="/assets/route.png" alt="Surface">
              </div>
              <div class="report-icon-box">
                <img src="/assets/cone.png" alt="Traffic">
              </div>
              <div class="report-icon-box">
                <img src="/assets/waterfall.png" alt="Scenery">
              </div>
            </div>
            <div class="report-rating-container">
              <div class="report-rating-box">
                <p class="report-rating"><%= r.surface_rating %></p>
              </div>
              <div class="report-rating-box">
                <p class="report-rating"><%= r.traffic_rating %></p>
              </div>
              <div class="report-rating-box">
                <p class="report-rating"><%= r.scenery_rating %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="rating-bottom">
          <div class="rating-comment-container"><p class="rating-comment"><%= r.comment %></p></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
