<!DOCTYPE html>
<html>
  <head>
    <title>Ciclo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="menu_container">
        <%= render :partial => "/users/menu" %>
    </div>
    <div id="yield-container">
        <%= yield %>
    </div>
    <div id="footer">
    <% if notice %>
        <p id="notice"> <%= notice %> </p>
    <% end %>
    <% if alert %>
        <p id ="alert"> <%= alert %> </p>
    <% end %>
    </div>
  </body>
</html>
